{#
/**
 * Translate plugin for Craft CMS 3.x
 *
 * Translation management plugin for Craft CMS
 *
 * @link      https://enupal.com
 * @copyright Copyright (c) 2018 Enupal
 */
#}

{% extends "_layouts/elementindex" %}


{% set siteHandle = craft.app.request.getParam('site') %}
{% set currentSiteId = craft.app.getSites().getSiteByHandle(siteHandle).id ?? null %}
{% set translateTo = craft.app.getSites().getSiteByHandle(siteHandle).language ?? craft.app.getSites().getPrimarySite().language %}

{% set title = "Translate to: "~translateTo %}
{% set elementType = 'enupal\\translate\\elements\\Translate' %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("enupal\\translate\\web\\TranslateAsset") %}
{% set continueEditingUrl = 'enupal-translate' %}
{% set saveShortcutRedirect = continueEditingUrl %}


{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit save-elements-button" value="{{ 'Save'|t('app') }}">
        {# IF we need a submenu #}
        <div id="enupal-menubtn" class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit save-elements-button"
                       data-process="save"
                       data-redirect="{{ continueEditingUrl|hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing"|t('app') }}
                    </a></li>
            </ul>
            <hr>
            <ul>
                <li>
                    <a id="donwload-button" class="formsubmit translations-download-button"
                       data-process="download"
                       data-action="enupal-translate/translate/download"
                       data-siteId="{{ elementInstance.siteId }}">
                        {{ "Download"|t('enupal-translate') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    <div class="buttons">
        <form method="post" enctype="multipart/form-data">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="enupal-translate/translate/upload">
            {{ redirectInput('enupal-translate') }}
            <input type="hidden" id="importSiteId" name="importSiteId" value="{{ elementInstance.siteId }}">
            <input type="file" accept=".csv" name="translations-upload" style="display: none" />
        </form>
        <div class="btn submit translations-upload-button" data-icon="upload" style="position: relative; overflow: hidden;" role="button">{{ "Import file"|t('enupal-translate') }}</div>
    </div>
    <div class="buttons">
        <form method="post" id="sync-db-form">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="enupal-translate/translate/sync">
            {{ redirectInput('enupal-translate') }}
        </form>
        <div class="btn submit translations-sync-button" data-icon="db" style="position: relative; overflow: hidden;" role="button">{{ "Sync with DB"|t('enupal-translate') }}</div>
    </div>
{% endblock %}

{% block content %}
    <form method="post" id="translate-ajax" accept-charset="utf-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="enupal-translate/translate/save">
        <input type="hidden" name="siteId" value="{{ elementInstance.siteId }}">
        
        {{ parent() }}
    </form>
{% endblock %}

{% block footer %}
    <div id="count-spinner" class="spinner hidden"></div>
    <div id="count-container" class="light flex-grow">&nbsp;</div>
    <div id="actions-container" class="flex"></div>
{% endblock %}

{% js %}
    $(document).ready(function() {
        new EnupalTranslate({{currentSiteId}});
    });
{% endjs %}